<!doctype html>
<html lang="{{ site.lang | default: "en-GB" }}">
  <html prefix="og: https://ogp.me/ns#">
  <head>
    
    <title>Leancoin Polygon Token</title>
    
    <meta property="og:title" content="Leancoin Polygon Token" />
    <meta property="og:description" content="Lean into the future of shitcoins." />
    <meta property="og:url" content="https://leanco.in" />
    <meta property="og:locale" content="en_GB" />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary" />
    
    <meta name="twitter:dnt" content="on">
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

{% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="{{ '/assets/js/respond.js' | relative_url }}"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="{{ '/assets/css/ie.css' | relative_url }}">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    {% include head-custom.html %}
  </head>
  <body>
    
        <nav>
          <ul>
            <a class="twitter-share-button" href="https://twitter.com/share" data-dnt="true">Tweet</a><script async defer src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
            {% endif %}
          </ul>
        </nav>
      </div><!-- end header -->
    
    <div id="header">

      <section>
        <div id="title">
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
          <p>{{ site.description | default: site.github.project_tagline }}</p>
          <hr>
        </div>

        {{ content }}

      </section>

    </div>
  </body>
</html>
